.select-service-page {
    background: #f7f8f6;
}

/* HERO */
.service-hero {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)),
        url('../../../../public/images/moving-bg.png') center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-hero h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

/* STEPS */
.service-steps-container {
    max-width: 1300px;
    margin: -80px auto 80px;
    padding: 0 16px;
}

.steps-card {
    border-radius: 20px;
    border: 1px solid #e3e6e1;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    padding: 24px 32px;
    background: #fff;
}

.ant-steps-horizontal {
    display: flex;
}

.ant-steps-horizontal .ant-steps-item {
    flex: 1;
    min-width: 0;
}

.ant-steps-item-container {
    flex-direction: column;
    align-items: center;
}

/* SERVICE LIST */
.service-list {
    max-width: 1100px;
    margin: 0 auto 80px;
}

.service-card {
    border-radius: 20px;
    border: 1px solid #e3e6e1;
    padding: 8px 12px;
}

.steps-card .ant-steps-item-title {
    font-weight: 600;
    color: #2d4f36;
}

.steps-card .ant-steps-item-description {
    font-size: 13px;
    color: #777;
}

.service-card-content {
    display: flex;
    align-items: center;
    gap: 28px;
    min-height: 120px;
    /* tăng chiều cao card */
}

.service-icon {
    width: 72px;
    height: 72px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.service-icon img {
    max-width: 42px;
    max-height: 42px;
    object-fit: contain;
}


.service-info h3 {
    margin: 0 0 8px;
    font-size: 30px;
    font-weight: 600;
    color: #2d4f36;
}

.service-info p {
    margin: 0;
    color: #666;
    font-size: 15px;
    line-height: 1.5;
}

.service-action {
    margin-left: auto;
    font-size: 36px;
    color: #2d4f36;
}